<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>
            육세계 <MeatWorld>
        </title>
    </head>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js"></script>
    <body>
        <div>
            <div id="header"> <!-- 헤더 시작 -->
                <div id="logo_section">
                    <img id="logo_img" src="../img/육세계로고.png">
                </div>
                <div id="category_section">
                    <div id="category" onmouseover="showCategoryFnc()">
                        <div class="category_list">
                            <a href="#">고기 부위</a>
                        </div>
                        <div class="category_list">
                            <a href="#">레시피</a>
                        </div>
                        <div class="category_list">
                            <a href="#">게시판</a>
                        </div>
                    </div>
                </div>
                <div id="category_detail_section">
                    <div id="category_list_detail_empty">

                    </div>
                    <div id="category_detail">
                        <div>
                            <div class="detail_category meat_part_category">
                                <a href="#">돼지</a>
                            </div>
                            <div class="detail_category meat_part_category">
                                <a href="#">소</a>
                            </div>
                            <div class="detail_category meat_part_category">
                                <a href="#">닭</a>
                            </div>
                        </div>
                        <div>
                            <div class="detail_category recipe_category">
                                <a href="#">돼지고기</a>
                            </div>
                            <div class="detail_category recipe_category">
                                <a href="#">돼지고기</a>
                            </div>
                            <div class="detail_category recipe_category">
                                <a href="#">돼지고기</a>
                            </div>
                        </div>
                        <div>
                            <div class="detail_category board_category">
                                <a href="#">돼지고기</a>
                            </div>
                            <div class="detail_category board_category">
                                <a href="#">돼지고기</a>
                            </div>
                            <div class="detail_category board_category">
                                <a href="#">돼지고기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- 헤더 끝 -->
            <div class="empty"></div>
            <div id="banner">  <!-- 배너 시작 -->
                <div id="meat_description">
                    <img src="http://via.placeholder.com/578x350" alt="">
                </div>
                <div id="best_meat_part">
                    <img src="http://via.placeholder.com/913x350" alt="">
                </div>
            </div>             <!-- 헤더 끝 -->
            <div class="empty"></div>
            <div id="test">
                asd
            </div>

        </div>
    </body>
</html>